{% extends 'base.html.twig' %}

{% block title %}Driver!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div class="example-wrapper">
        List Driver

        <table>
            <tr>
                <th>DriverName</th>
                <th>truck</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
            {% for driver in driverLists %}
                <tr>
                    <td>{{ driver.name }}</td>
                    <td>
                        <ul>
                            {% for truck in driver.truck %}
                                <li>{{ truck.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td><a href="/driver/edit/{{ driver.id }}">edit</a> </td>
                    <td><a href="/driver/remove/{{ driver.id }}">remove</a></td>

                </tr>
            {% endfor %}
        </table>



        <a href="/driver/new" class="btn btn-primary">create!</a>

    </div>

{% endblock %}
