{% extends 'base.html.twig' %}

{% block title %}Office!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div class="example-wrapper">
        List Office

        <table>
            <tr>
                <th>OfficeName</th>
                <th>edit</th>
                <th>remove</th>
                <th>DriverList</th>
                <th>TruckList</th>
            </tr>
            {% for office in officeLists %}
                <tr>
                    <td>{{ office.name }}</td>
                    <td><a href="/office/edit/{{ office.id }}">edit</a> </td>
                    <td><a href="/office/remove/{{ office.id }}">remove</a></td>
                    <td>
                        <ul>
                            {% for driver in office.drivers %}
                                <li>{{ driver.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for truck in office.trucks %}
                                <li>{{ truck.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>



        <a href="/office/new" class="btn btn-primary">create!</a>
        <br>
        <a href="/driver" class="btn btn-primary">go to driver</a>
        <br>
        <a href="/truck" class="btn btn-primary">go to truck</a>

    </div>

{% endblock %}
