{% extends 'base.html.twig' %}

{% block title %}Office!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div class="example-wrapper">
        List Truck

        <table>
            <tr>
                <th>TruckName</th>
                <th>driver</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
            {% for truck in truckLists %}
                <tr>
                    <td>{{ truck.name }}</td>
                    <td>
                        <ul>
                            {% for driver in truck.driver %}
                                <li>{{ driver.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td><a href="/truck/edit/{{ truck.id }}">edit</a> </td>
                    <td><a href="/truck/remove/{{ truck.id }}">remove</a></td>


                </tr>
            {% endfor %}
        </table>



        <a href="/truck/new" class="btn btn-primary">create!</a>

    </div>

{% endblock %}
